<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= title %></title>
     <link rel="stylesheet " href ="styles.css">
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">User ID</th>
              <th scope="col">User</th>
              <th scope="col">Day</th>
              <th scope="col">Start Time</th>
              <th>End Time</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < schedules.length; i++) { %>
              <tr> 
                <th scope="row"></th>
                <td> <%= schedules[i].user_id %></td>
                <td><%= users[(schedules[i].user_id -1)].firstname%></td>
                <% for (let j = 1; j < days.length+1; j++) { %>
                  <% if((schedules[i].day)==j) {%>
                <td><%= days[j-1] %></td>
               
                <% } %>
                <% } %>
                <td><%= schedules[i].start_time %></td>
                <td><%= schedules[i].end_time %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <br><br>

        <div class="container-fluid">
        <div class="form-group" style="width: 340px;">
        <form  method="POST" action="/schedules/userinfo" >
         Enter UserId to get user info:<br>
        <input id="user_id" type="text" name="user_id" placeholder ="User Id" class="form-control" required>
        <div class="button">
        <button class="btn btn-danger" type="submit">Employee Info</button>
      </div>
      </form>
    </div>
  </div>
    </main>
          
     <%- include('../partials/footer') %>
  </body>
  
  </html> 